<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>SPOONS</title>
	<meta name="keywords" content="SPOONS|个性定制">
	<meta name="description" content="个性化产品定制(私人定制)，比如 定制手 机壳， 礼品， 抱枕 等">
	<link rel="stylesheet" href="css/Public.css">
	<link rel="stylesheet" href="css/main/spoons.css">
	<link rel="stylesheet" href="css/top.css">
	<link rel="stylesheet" href="css/swiper-4.2.0.min.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_612454_q018a1y69rx80k9.css">

	<script src="js/jquery-3.2.1.min.js"></script>
	<!--<script src="js/jquery.nicescroll.min.js"></script>-->
	<script src="js/jquery.mousewheel.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
	<script src="js/rellax.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/TweenMax.min.js"></script>
	<script src="js/swiper-4.2.0.min.js"></script>
	<script src="js/swiper.animate1.0.3.min.js"></script>
	<!--<script src="js/main/roll.js">//滚轮</script>-->
	<script src="js/main/carousel.js">//轮播</script>
	<script src="js/main/shopInfo.js">//店铺</script>
	<script src="js/main/rellax.js">//滚动特效+视觉差</script>
	<style>
		.swiper-container-fade .swiper-slide{
			opacity:0!important;
		}
		.swiper-container-fade .swiper-slide-active{
			opacity:1!important;
		}
	</style>
</head>

<body>
	<!--header-->
	<header class="c-header">
		<div class="wow fadeInLeft c-logo"><a href="SPOONS.html"><img src="img/logo/logo.png"></a></div>
		<nav>
			<div class="wow fadeInRight c-main-nav">
				<ul>
					<li><a href="https://www.baidu.com/" class="o-link">登录</a></li>
					<li><a class="o-link">注册</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<!--headerEnd-->
	
	<main class="main">
		
		<!--轮播-->
		<section class="pages c-hero">
			<!--back-->
			<div data-rellax-speed="-9" class="swiper-container rellax c-hero-back">
				<div class="swiper-wrapper backtm" style="background-image: url(img/main/back/backTM.png)">
					<div class="swiper-slide swiper-container-fade">
						<div class="ani c-back" swiper-animate-effect="fadeIn" data-color="#CCCBC7">
							<video class="back-video" width="100%" loop muted src="video/0MivH1eMBRyoXfiGIzO@@hdregop.mp4"></video>
						</div>
					</div>
					<div class="swiper-slide swiper-container-fade">
						<div class="ani c-back" swiper-animate-effect="fadeIn" data-color="#FACBD0">
							<video class="back-video" width="100%" loop muted src="video/M8CnESaN6kUucOXNEhp@@hd.mp4"></video>
						</div>
					</div>
					<div class="swiper-slide swiper-container-fade">
						<div class="ani c-back" swiper-animate-effect="fadeIn" data-color="#AADCD9"></div>
					</div>
					<div class="swiper-slide swiper-container-fade">
						<div class="ani c-back" swiper-animate-effect="fadeIn" data-color="#CFD9DF"></div>
					</div>
				</div>
			</div>
			<!--backEnd-->

			<section style="position: absolute;top: 0;height:100%;width: 100%;">
				<div class="container" style="height: 100%;">
					<!--商品信息-->
					<div data-rellax-speed="-9" class="swiper-container rellax c-hero_text">
						<div class="swiper-wrapper">
							<div class="swiper-slide swiper-container-fade">
								<div class="ani saying" swiper-animate-effect="fadeInDown">
									<img data-depth="0.2" style="width: 400px" src="img/main/Record.png">
								</div>
								<div class="c-hero-content">
									<h2 class="ani c-hero-title" swiper-animate-effect="fadeInRight">
										<p data-depth="0.3">衣橱里那么多T恤,就少一件自己设计的</p>
									</h2>
									<div class="ani c-hero-referral" swiper-animate-effect="fadeInUp">
										<p>80S丝光双面布 如丝般顺滑触感 进口高清数码打印机的精彩呈现.</p>
										<p>100%紧密纺长绒棉 80S丝光双面布.</p>
										<p>进口高清数码印花机完美呈现，百变图案精准不易脱落.</p>
									</div>
								</div>
								<div class="c-hero-but">
									<a class="ani o-link c-once" swiper-animate-effect="pulse" href="GoodsInfo.html"><img src="img/main/once.png"></a>
								</div>
							</div>
							<div class="swiper-slide swiper-container-fade">
								<div class="ani saying" swiper-animate-effect="fadeInDown">
									<img data-depth="0.2" style="width: 400px" src="img/main/Record.png">
								</div>
								<div class="c-hero-content">
									<h2 class="ani c-hero-title" swiper-animate-effect="fadeInRight">
										<p data-depth="0.3">时光是奢侈的小偷，我想把记忆卷起来送给你</p>
									</h2>
									<div class="ani c-hero-referral" swiper-animate-effect="fadeInUp">
										<p>选材:测试10多家不同供应商胶片,选择出口型磨砂低透胶片</p>
										<p>切割:激光异形切割技术,精准切割直线、边角无毛边</p>
										<p>礼盒:能触摸到的时间质感纸,加上日本爵士金属烫金LOGO</p>
										<p>高清:采用6色高清印刷机,高保真还原照片色彩、清晰度</p>
									</div>
								</div>
								<div class="c-hero-but">
									<a class="ani o-link c-once" swiper-animate-effect="pulse" href="GoodsInfo.html"><img src="img/main/once.png"></a>
								</div>
							</div>
							<div class="swiper-slide swiper-container-fade">
								<div class="ani saying" swiper-animate-effect="fadeInDown">
									<img data-depth="0.2" style="width: 400px" src="img/main/Record.png">
								</div>
								<div class="c-hero-content">
									<h2 class="ani c-hero-title" swiper-animate-effect="fadeInRight">
										<p data-depth="0.3">握在手心的小辛运，甜过马卡龙</p>
									</h2>
									<div class="ani c-hero-referral" swiper-animate-effect="fadeInUp">
										<p>薄荷绿、芝士黄、樱花粉、香芋紫、海风蓝，五种包边配色选择，机壳颜色跟着心情换</p>
										<p>硬质背壳配合柔软包边，  超强柔韧抗摔保护</p>
										<p>精准孔位设计，高度匹配各款机型</p>
									</div>
								</div>
								<div class="c-hero-but">
									<a class="ani o-link c-once" swiper-animate-effect="pulse" href="GoodsInfo.html"><img src="img/main/once.png"></a>
								</div>
							</div>
							<div class="swiper-slide swiper-container-fade">
								<div class="ani saying" swiper-animate-effect="fadeInDown">
									<img data-depth="0.2" style="width: 400px" src="img/main/Record.png">
								</div>
								<div class="c-hero-content">
									<h2 class="ani c-hero-title" swiper-animate-effect="fadeInRight">
										<p data-depth="0.3">WIN个性定制全铝镁合金箱</p>
									</h2>
									<div class="ani c-hero-referral" swiper-animate-effect="fadeInUp">
										<p>航空级铝镁板材,由全球第一'天眼'的电望远镜供应商西南铝提供</p>
										<p>360度静音随行</p>
										<p>细节用心,严苛要求</p>
									</div>
								</div>
								<div class="c-hero-but">
									<a class="ani o-link c-once" swiper-animate-effect="pulse" href="GoodsInfo.html"><img src="img/main/once.png"></a>
								</div>
							</div>
						</div>
					</div>
					<!--商品信息End-->

					<!--商品图片-->
					<div data-rellax-speed="-6" class="swiper-container rellax c-hero-img">
						<div class="swiper-wrapper">
							<div class="swiper-slide swiper-container-fade">
								<div class="ani c-hero-imgs" swiper-animate-effect="fadeIn">
									<img data-depth="0.1" src="img/main/commodity/yin.png">
								</div>
							</div>
							<div class="swiper-slide swiper-container-fade">
								<div class="ani c-hero-imgs" swiper-animate-effect="fadeIn">
									<img data-depth="0.1" src="img/main/commodity/3032073078.png">
								</div>
							</div>
							<div class="swiper-slide swiper-container-fade">
								<div class="ani c-hero-imgs" swiper-animate-effect="fadeIn">
									<img data-depth="0.1" src="img/main/commodity/mmm.png">
								</div>
							</div>
							<div class="swiper-slide swiper-container-fade">
								<div class="ani c-hero-imgs" swiper-animate-effect="fadeIn">
									<img data-depth="0.1" src="img/main/commodity/lgx.png">
								</div>
							</div>
						</div>
					</div>
					<!--商品图片End-->
				</div>
			</section>

			<div class="swiper-button-prev swiper-button-white"></div>
			<div class="swiper-button-next swiper-button-white"></div>
			<div class="c-hero-foot"></div>
		</section>
		<!--轮播End-->
		
		<!--classify-->
		<section class="pages classify">
			<div class="container">
				<div class="headline">
					<p class="wow fadeInLeft headline-back" data-wow-offset="800">Goods</p>
					<p class="wow fadeInUp headline-title"  data-wow-offset="800"><span>——</span>精品专题</p>
				</div>
				<div class="class-box">
					<ul class="bricks">
						<li class="wow pulse brick-item" data-wow-offset="600" data-wow-delay="0.1s">
							<i class="iconfont icon-xingxing"></i>
							<span class="tielt-f">全部</span>
						</li>
						<li class="wow fadeInUp brick-item" data-wow-offset="600" data-wow-delay="0.2s">
							<i class="iconfont icon-shouji"></i>
							<span class="tielt-f">手机壳</span>
						</li>
						<li class="wow fadeInUp brick-item" data-wow-offset="600" data-wow-delay="0.3s">
							<i class="iconfont icon-cup"></i>
							<span class="tielt-f">杯子</span>
						</li>
						<li class="wow fadeInUp brick-item" data-wow-offset="600" data-wow-delay="0.4s">
							<i class="iconfont icon-xiangji"></i>
							<span class="tielt-f">时光</span>
						</li>
						<li class="wow fadeInUp brick-item" data-wow-offset="600" data-wow-delay="0.5s">
							<i class="iconfont icon-jiaqi"></i>
							<span class="tielt-f">行李箱</span>
						</li>
						<li class="wow fadeInUp brick-item" data-wow-offset="600" data-wow-delay="0.6s">
							<i class="iconfont icon-t-shirt"></i>
							<span class="tielt-f">T恤</span>
						</li>
						<li class="wow fadeInRight brick-item" data-wow-offset="600" data-wow-delay="0.7s">
							<a href="Usually.html">...More</a>
						</li>
					</ul>
				</div>
				<div class="goods-box">
					<ul class="goods">
						<li class="wow pulse goods-item" data-wow-offset="600">
							<div class="goods-img">
								<div style="background-image: url(img/main/goods/3032073078.jpg)"></div>
							</div>
							<div class="goods-info">
								<div class="shop-name"><a>XX旗舰店</a></div>
								<div class="goods-name">定制记忆交卷相册</div>
								<div class="goods-price">￥68.00</div>
								<div class="goods-buy">立即购买</div>
							</div>
						</li>
						<li class="wow pulse goods-item" data-wow-offset="600">
							<div class="goods-img">
								<div style="background-image: url(img/main/goods/3032073078.jpg)"></div>
							</div>
						</li>
						<li class="wow pulse goods-item goods-itemB" data-wow-offset="600">
							<div class="goods-img">
								<div style="background-image: url(img/main/goods/3032073078.jpg)"></div>
							</div>
							<div class="goods-info">
								<div class="shop-name"><a>XX旗舰店</a></div>
								<div class="goods-name">定制记忆交卷相册</div>
								<div class="goods-referral">时光是奢侈的小偷，我想把记忆卷起来送给你。私定定制记忆胶卷相册，1:1还原胶卷形式，原创设计少女心、松绿色、玫瑰红等款式；精品化礼品包装送配套礼盒、手提袋，心意卡。</div>
								<div class="goods-price">￥68.00</div>
								<div class="goods-buy">立即购买</div>
							</div>
						</li>
						<li class="wow pulse goods-item" data-wow-offset="600">
							<div class="goods-img">
								<div style="background-image: url(img/main/goods/3032073078.jpg)"></div>
							</div>
						</li>
					</ul>
					<ul class="goods">
						<li class="wow pulse goods-item" data-wow-offset="100">
							<div class="goods-img">
								<div style="background-image: url(img/main/goods/3032073078.jpg)"></div>
							</div>
							<div class="goods-info">
								<div class="shop-name"><a>XX旗舰店</a></div>
								<div class="goods-name">定制记忆交卷相册</div>
								<div class="goods-price">￥68.00</div>
								<div class="goods-buy">立即购买</div>
							</div>
						</li>
						<li class="wow pulse goods-item goods-itemB" data-wow-offset="100">
							<div class="goods-img">
								<div style="background-image: url(img/main/goods/3032073078.jpg)"></div>
							</div>
							<div class="goods-info">
								<div class="shop-name"><a>XX旗舰店</a></div>
								<div class="goods-name">定制记忆交卷相册</div>
								<div class="goods-referral">时光是奢侈的小偷，我想把记忆卷起来送给你。私定定制记忆胶卷相册，1:1还原胶卷形式，原创设计少女心、松绿色、玫瑰红等款式；精品化礼品包装送配套礼盒、手提袋，心意卡。</div>
								<div class="goods-price">￥68.00</div>
								<div class="goods-buy">立即购买</div>
							</div>
						</li>
						<li class="wow pulse goods-item" data-wow-offset="100">
							<div class="goods-img">
								<div style="background-image: url(img/main/goods/3032073078.jpg)"></div>
							</div>
						</li>
						<li class="wow pulse goods-item" data-wow-offset="100">
							<div class="goods-img">
								<div style="background-image: url(img/main/goods/3032073078.jpg)"></div>
							</div>
						</li>
					</ul>
				</div>
				<div class="goods-more">More</div>
			</div>
		</section>
		<!--classifyEnd-->
		
		<!--shop-->
		<section class="pages shop">
			<div class="container">
				<div class="headline">
					<p class="wow fadeInLeft headline-back" data-wow-offset="800">S h o p</p>
					<p class="wow fadeInUp headline-title" data-wow-offset="800"><span>——</span>精品店铺</p>
				</div>
			</div>
			<!--icons-->
			<section class="IconsContainer"></section>
			<!--iconsEnd-->
		</section>
		<!--shopEnd-->
		
		<!--flow-->
		<section class="pages flow">
			<div class="container">
				<div class="headline">
					<p class="headline-back">Process</p>
					<p class="headline-title"><span>——</span>定制过程</p>
				</div>
				<!--定制流程-->
				<div class="customization-flow">
					<div class="customization-course">
						<div>
							<span><i class="iconfont icon-dianpu"></i></span>
							<p>华为P20lite手机壳nova3e保护套畅享8软硅胶个性潮流创意口红少女 环保TPU材料哦，手机壳是软的，孔位准确，使用方便，彩绘壳图案清晰
								<i class="iconfont icon-sanjiao_xia"></i>
							</p>
						</div>
						<div>
							<span><i class="iconfont icon-liwu"></i></span>
							<p>SPOON出品必属精品！
								<i class="iconfont icon-sanjiao_xia"></i>
							</p>
						</div>
						<div>
							<span><i class="iconfont icon-dingzhijiaju"></i></span>
							<p>花钱少少，美丽多多，心情好好,而且每个DIY作品都含有自己丰富多彩的一面自己！记住它的口号：做回我自己！
								<i class="iconfont icon-sanjiao_xia"></i>
							</p>
						</div>
						<div>
							<span><i class="iconfont icon-24xiaoshifahuo"></i></span>
							<p>24小时发货服务是卖家向买家提供的服务。所有24小时发货的卖家承诺：在买家完成付款或通过货到付款下单成功后，卖家将在24小时内（不可抗力因素除外）发送买家所购实物商品的服务。
								<i class="iconfont icon-sanjiao_xia"></i>
							</p>
						</div>
						<div>
							<span><i class="iconfont icon-shouye4"></i></span>
							<p>收到宝贝后,确认宝贝完好无损，请给工作人员好评哦亲！
								<i class="iconfont icon-sanjiao_xia"></i>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--flowEnd-->
	</main>
</body>
<script>
	console.log($('body'))
	$(document).ready(function() {
		/* //轮播图片加载
		var sampleImg=['img/main/commodity/yin.png',
						 'img/main/commodity/3032073078.png',
						 'img/main/commodity/mmm.png',
						 'img/main/commodity/lgx.png'];
		$.each(sampleImg,function(k,v){
			var $c_hero_imgs=$('<div class="swiper-slide swiper-container-fade">'+
							'<div class="ani c-hero-imgs" swiper-animate-effect="fadeIn">'+
							'<img data-depth="0.1" src="'+v+'"></div></div>');
			$('.c-hero-img>.swiper-wrapper').append($c_hero_imgs);
		}) */
        ParallaxImg();//视觉差
		swiperMain();//轮播生成
		var	logos = ['我喜欢这感觉', 'LordMasterKing','Sadness', '19'],
			imgs=['img/main/shop/20180403153835.jpg','img/main/shop/20180403153859.jpg','img/main/shop/20180403153911.jpg','img/main/shop/20180403153928.jpg'],
            shopid=['1','2','3','4'];
		LogoShop(logos,imgs,shopid);//店铺气泡
		$('.Icon').click(function () {
            window.location.href = 'shop.html?id='+$(this).attr('id');
        })
	})
	//店铺气泡
	var LogoShop=function(logos,imgs,shopid){
		Gee.ready(function () {
			window.logoBubbles = new LogoBubbles({
				bubbles: bubbles,
				logos: logos,
				imgs:imgs,
				shopid:shopid,
				classPrefix: "Icon Icon-img",
				containerSelector: ".IconsContainer",
				containerWidth: 3e3,
				containerHeight: 460,
				maxShrink: .2,
				noiseSpeed: 55e-6,
				noiseScale: 80,
				scrollSpeed: .0175,
				introDelay: 1500,
				introDuration: 1500
			})
		}), "use strict";
	}
</script>
</html>