<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>店铺管理</title>
		<link href="../../layuiadmin/layui/css/layui.css" rel="stylesheet" media="all" />
		<link href=" ../../layuiadmin/style/table.css" rel="stylesheet" media="all" />
		<link href="../../layuiadmin/style/admin.css" rel="stylesheet" media="all">
		<link href="//at.alicdn.com/t/font_400842_q6tk84n9ywvu0udi.css" rel="stylesheet" />
		<link href="../../layuiadmin/style/iframe-child.css" rel="stylesheet" />

	</head>
		<style>
body{
overflow: hidden;}
#jiaid{
	display: none;
}
 #popups{
	width:100%;
	height:677px;
	overflow: hidden;
}
#popups ul {
	width:100%;
}
#popups ul li{
width: 477px;
height: 55px;
line-height: 45px;
float: left;
font-size: 15px;
}
#popups ul{
	width:1200px;
	margin:0 auto;
}
#popups ul li span{
	display: block;
	width:120px;
	float:left;
	text-align: center;
	margin-left:20px;
	
}
#popups ul li input{
width:300px;}
.li_center{
	width:200px;
	height:100%;
	margin:0 auto;
	text-align: center;
}
.layui-input{
	width:186px;
}
.left_inline{
margin-left: -3px;}
.popright{
width:380px;
float:right;
}
#disc_ul {
margin-top:10px;}
#disc_ul p{
	width:320px;
	height:35px;
	line-height: 35px;
	text-align: center;
	padding-left:60px;
}
#disc_ul p ems{
	width:100px;
	height:35px;
	display: block;
	text-align: center;
	float:left;
}
#search_bth{
	width:140px;
	text-align: center;
	font-size:17px;
	margin-top:50px;
	margin-left:40px;
}
.postion_abst{
	position: absolute;
	bottom: 16px;
	left: 297px;
	width: 250px;
}
#disc_msg{
	width: 700px;
	height: 52px;
	position: absolute;
	left: 46px;
	bottom: 57px;
}
#disc_qued{
	width: 100px;
	height: 52px;
	position: absolute;
	left: 350px;
	bottom: 5px;
}

.disp_none{
display: none;
text-align: center;
float:left;
width:300px;
height:300px;
}
#imghead_1{
}
.img_brck1{
width:300px;
height:300px;
text-align: center;
margin-left:139px;
float:left;}
.abs_postion{
width: 200px;
height: 79px;
margin:0 auto;
}
#btn_sumbit{
width: 123px;
height: 42px;
font-size: 15px;}
.imghead_2{

margin-left:139px;
float:left;
}
#disp_none_top{
	margin-left:172px;
}
</style>
	<body>
		<div class="layui-fluid">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md15 main-container">
					<div class="layui-card">
						<div class="layui-card-header">
							商品管理
						</div>
						<div class="layui-card-body">
												<div id="popups">
							<ul>
								    <li style="width:1200px;height:337px;">
								    <div class="img_brck1">商品展示图
								    	<input type="file" style="display: none;" name="file" id="file_img1" accept="image/*" onchange="imgChange1(this);"/> <!--文件上传选择按钮-->
								    		<img id="imghead_1" src="../../iceiBrand/image/imgBackground.png" width="250"height="250"/>
								    </div>
								      <div class="disp_none" id="disp_none_top">定制模板图
									      <input type="file" style="display: none;" name="file" id="file_img2" accept="image/*" onchange="imgChange2(this);"/> <!--文件上传选择按钮-->
										  <img id="imghead_2" style="width:250px;height:250px;"src="../../iceiBrand/image/imgBackground.png"/> <!--图片显示位置-->
								      </div>
								    </li>
								    <li>
								    <span>详细类型：</span>
										<div class="layui-inline">
										<form class="layui-form" style="width: 200px;display: inline;">
											<select name="type" class="brand_id"  lay-filter="test" id="select_ones">
												<option value="">请选择商品类型</option>
												
											</select>
										</form>
									</div>
									</li>
									<li>
										<span>详细类型：</span>
										<div class="layui-inline">
										<form class="layui-form" style="width: 200px;display: inline;">
											<select name="type" class="type_detail_id" id="select_twos">
												<option value="">请选择商品类型</option>
												
											</select>
										</form>
									</div>
									</li>
									<li>
										<span>商品名称：</span>
										<div class="layui-input-inline">
	       									 <input id="goods_name" name="phone" class="generalize_money layui-input" lay-verify="required|phone" autocomplete="off"  type="tel">
	      								</div>
      								</li>
									<li><span>基础价格：</span>
									<div class="layui-input-inline">
	       									 <input id="goods_price" name="phone" class="generalize_commission layui-input" lay-verify="required|phone" autocomplete="off"  type="tel">
	      								</div>
      								</li>
									<li><span>商品折扣：</span>
										<div class="layui-input-inline">
	       									 <input id="goods_discount" type="text" class="layui-input" >
	      								</div>
      								</li>
      								<li><span>材质：</span>
										<div class="layui-input-inline">
	       									 <input id="materials" type="text" class="layui-input" >
	      								</div>
      								</li>
      								<li style="width:1116px;">
	       								<span>商品描述：</span>
										<div class="layui-input-inline">
	       									 <input style="width:958px;"id="goods_dec" type="text"  value="" class="layui-input" >
	       								 </div>
	       							</li>
									<li>
										<span>是否定制：</span>
										<div class="layui-inline">
											<form class="layui-form" style="width: 200px;display: inline;">
												<select name="type" onchange="is_diy_pop()" lay-filter="test1" id="is_diy">
													<option value="1">否</option>
													<option value="0">是</option>
												</select>
											</form>
										</div>
      								</li>
      								<li><span>定制收费：</span>
										<div class="layui-input-inline">
	       									 <input id="diy_price" type="text" readonly="false" value="0" class="layui-input" >
	       								 </div>
      								</li>
      								<li><span>生产周期：</span>
										<div class="layui-input-inline">
	       									 <input id="production_cycle" type="text" readonly="true" value="0" class="layui-input" >
	       								 </div>&nbsp;(天)
      								</li>
      								<li class="disp_none">
      									<span>定制模板：</span>
										<div class="layui-input-inline">
	       									<button type="button" class="layui-btn" id="test2">模板上传</button> 
	       								 </div>
      								</li>
								</ul>
							</div>
								<div class="abs_postion">
									<button id="btn_sumbit" class="layui-btn layui-btn-radius">新增</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../../layuiadmin/layui/layui.js"></script>
	<script src="../../layuiadmin/jquery/jquery-3.3.1.min.js"></script>
	<script src="/ImgYunTop.js"></script>
	<script>
	var table;
	var tableinsr;
		$("#btn_sumbit").click(function(){
			console.log($("#file_img1")[0].files[0])
			var url="/brand/insertByKey";
			var form=new FormData();
			form.append("typeDetailId",$("#select_twos").val());
			form.append("brandId",1);
			form.append("goodsName",$("#goods_name").val());
			form.append("goodsPrice",$("#goods_price").val());
			form.append("goodsDiscount",$("#goods_discount").val());
			form.append("isDiy",$("#is_diy").val());
			form.append("goodsDec",$("#goods_dec").val());
			form.append("diyPrice",$("#diy_price").val());
			form.append("productionCycle",$("#production_cycle").val());
			form.append("materials",$("#materials").val());
			form.append("file",$("#file_img1")[0].files[0]);
			form.append("file",$("#file_img2")[0].files[0]);
			$(this).yunimg(form,url);
		})
		function imgChange1(obj) {
			//获取点击的文本框
			var file =document.getElementById("file_img1");
			var imgUrl =window.URL.createObjectURL(file.files[0]);
			var img =document.getElementById('imghead_1');
			img.setAttribute('src',imgUrl); // 修改img标签src属性值
		};
		function imgChange2(obj) {
			//获取点击的文本框
			var file =document.getElementById("file_img2");
			var imgUrl =window.URL.createObjectURL(file.files[0]);
			
			var img =document.getElementById('imghead_2');
			img.setAttribute('src',imgUrl); // 修改img标签src属性值
		};
		$("#imghead_1").click(function(){
			$('#file_img1').click();
		})
		$("#test2").click(function(){
			$('#file_img2').click();
		})
		$(document).ready(function() {
			
			//绑定商品类型下拉框
			TiedownOne("#select_one");
			//绑定商品类型下拉框
			TiedownOne("#select_ones");
			
			layui.use(['table','form','upload'], function() {
				table = layui.table,
				form=layui.form,
				upload = layui.upload;
				
				  //普通图片上传
				  var uploadInst = upload.render({
				    elem: '#test1'
				    ,before: function(obj){
				    	console.log(obj)
				      //预读本地文件示例，不支持ie8
				      obj.preview(function(index, file, result){
				        $('#demo1').attr('src', result); //图片链接（base64）
				      });
				    }
				  });
				//监听点击的按钮
				table.on('tool(Audit)', function(obj){
					var layEvent = obj.event;
					var data = obj.data;
					var tr = obj.tr;
					if(obj.event === '1'){
					}
					if(obj.event === '2'){
						TiedownOne("#select_ones");
						var d=data;
						console.log(d)
						update_pop(d)
					}
					if(obj.event === '3'){
						layer.confirm('确认删除吗？',function(){
							delByid(data.goodsId,obj);
						});
					}
				});
				form.on('select(test)', function(data){
					  console.log(data.value); //得到被选中的值
					  $("#select_twos").find(" option:eq(0)").nextAll().remove();
					  selectTwoMsg(data.value,2);
				});
				form.on('select(test1)', function(data){
					var val=$("#is_diy").val();
					if(val==1){
						//否
						$("#diy_price").attr("readonly","true");
						$("#production_cycle").attr("readonly","true");
						$("#diy_price").val(0);
						$("#production_cycle").val(0);
						$(".disp_none").css("display","none")
						console.log("0")
					}
					if(val==0){
						//是
						$("#diy_price").removeAttr("readonly");
						$("#production_cycle").removeAttr("readonly");
						$(".disp_none").css("display","block")
						console.log("1")
					}
				});
				    
			});
		});
		
	
		//绑定下拉框
		function selectTwoMsg(id,num){
			$.get("/brand/getAllTypeDetailNameByid",{"id":id},function(data){
				if(data!=''){
					$.each(data,function(v,val){
						var tr='<option value="'+val.typeDetailId+'">'+val.typeDetailName+'</option>';
						if(num==1){
							$("#select_two").append(tr);
						}if(num==2){
							$("#select_twos").append(tr);
						}
					})
					form.render('select');
				}
			});
		}
		function TiedownOne(o){
			$.get("/brand/getAllGoodsTypeName",function(data){
				$.each(data,function(v,val){
					var tr='<option value="'+val.typeId+'">'+val.typeName+'</option>';
					$(""+o+"").append(tr);
				})
				layui.form.render('select');
			})
		}
		
		function TiedownTwo(o){
			$.get("/brand/getAllTypeDetailName",function(data){
				$.each(data,function(v,val){
					var tr='<option value="'+val.typeDetailId+'">'+val.typeDetailName+'</option>';
					$(""+o+"").append(tr);
				})
				layui.form.render('select');
			})
		}
	</script>
</html>