<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>系统设置</title>
		<link href=" ../../layuiadmin/layui/css/layui.css" rel="stylesheet" />
		<link href="../../layuiadmin/style/table.css" rel="stylesheet" />
		<link href="../../layuiadmin/style/table.css" rel="stylesheet" />
		<style type="text/css">
			.layui-elem-field legend {
				margin: 0px auto;
			}
			
			.layui-fluid .layui-table {
				margin-bottom: 50px;
			}
		</style>
	</head>
	<body>
		<div class="layui-fluid">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md12 main-container">
					<div class="layui-card">
						<div class="layui-card-header">
							系统设置
						</div>
						<div class="layui-card-body">
							<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
								<legend>文件上传设置</legend>
							</fieldset>
							<table class="layui-table" lay-size="lg">
								<colgroup>
									<col width="33%">
									<col width="33%">
									<col width="33%">
								</colgroup>
								<thead>
									<tr>
										<th>选项</th>
										<th>参数值</th>
										<th>参数名称</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>单文件大小</td>
										<td>4M</td>
										<td>fileSizs</td>
									</tr>
									<tr>
										<td>文件格式</td>
										<td>jpg &nbsp;|&nbsp;png&nbsp;|&nbsp;bit</td>
										<td>fileType</td>
									</tr>
									<tr>
										<td>文件数量</td>
										<td>100</td>
										<td>fileCount</td>
									</tr>
								</tbody>
							</table>
							<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
								<legend>邮箱设置</legend>
							</fieldset>
							<table class="layui-table" lay-size="lg">
								<colgroup>
									<col width="33%">
									<col width="33%">
									<col width="33%">
								</colgroup>
								<thead>
									<tr>
										<th>选项</th>
										<th>参数值</th>
										<th>参数名称</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>SMTP服务器IP</td>
										<td>4M</td>
										<td>fileSizs</td>
									</tr>
									<tr>
										<td>SMTP服务器端口</td>
										<td>jpg &nbsp;|&nbsp;png&nbsp;|&nbsp;bit</td>
										<td>fileType</td>
									</tr>
									<tr>
										<td>发件邮箱</td>
										<td>100</td>
										<td>fileCount</td>
									</tr>
									<tr>
										<td>邮箱密码</td>
										<td>100</td>
										<td>fileCount</td>
									</tr>
									<tr>
										<td>客户端授权码</td>
										<td>100</td>
										<td>fileCount</td>
									</tr>
								</tbody>
							</table>
							<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
								<legend>短信接口api设置</legend>
							</fieldset>
							<table class="layui-table" lay-size="lg">
								<colgroup>
									<col width="33%">
									<col width="33%">
									<col width="33%">
								</colgroup>
								<thead>
									<tr>
										<th>选项</th>
										<th>参数值</th>
										<th>参数名称</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>单文件大小</td>
										<td>4M</td>
										<td>fileSizs</td>
									</tr>
									<tr>
										<td>文件格式</td>
										<td>jpg &nbsp;|&nbsp;png&nbsp;|&nbsp;bit</td>
										<td>fileType</td>
									</tr>
									<tr>
										<td>文件数量</td>
										<td>100</td>
										<td>fileCount</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
	</body>
	<script src="../../layuiadmin/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../layuiadmin/layui/layui.js"></script>

</html>