<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icei.mapper.AssessReportMapper">

  <resultMap id="BaseResultMap" type="com.icei.domain.AssessReport">
    <id column="audit_id" jdbcType="INTEGER" property="auditId" />
    <result column="assess_id" jdbcType="INTEGER" property="assessId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="report_content" jdbcType="VARCHAR" property="reportContent" />
  	<association property="orderAssess" resultMap="OrderAssessMap" />
  </resultMap>
  
  <resultMap id="OrderAssessMap" type="com.icei.domain.OrderAssess">
    <id column="assess_id" jdbcType="INTEGER" property="assessId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="detail_id" jdbcType="INTEGER" property="detailId" />
    <result column="assess_dec" jdbcType="VARCHAR" property="assessDec" />
    <result column="OaUserId" jdbcType="INTEGER" property="userId" />
    <result column="goods_quality" jdbcType="REAL" property="goodsQuality" />
    <result column="server_attitude" jdbcType="REAL" property="serverAttitude" />
    <result column="assess_date" jdbcType="TIMESTAMP" property="assessDate" />
    <result column="goods_model" jdbcType="VARCHAR" property="goodsModel" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
  </resultMap>
  <sql id="Base_Column_List">
    audit_id, assess_id, user_id, report_content
  </sql>
    <sql id="AssessReport_List">
    ar.audit_id, ar.assess_id, ar.user_id, ar.report_content
  </sql>
  <sql id="OrderAssess_List">
    oa.goods_id, oa.detail_id, oa.assess_dec, oa.user_id as OaUserId, oa.goods_quality, oa.server_attitude, 
    oa.assess_date, oa.goods_model, oa.like_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Apr 19 10:27:54 CST 2018.
    -->
    select 
    <include refid="Base_Column_List" />
    from assess_report
    where audit_id = #{auditId,jdbcType=INTEGER}
  </select>
  
   <!-- 分页查询 -->
  <select id="getAssessReportPage" resultMap="BaseResultMap">
  	select  
  	<include refid="AssessReport_List" />,
    <include refid="OrderAssess_List" />
    from assess_report as ar,order_assess as oa

    <where>
		ar.assess_id=oa.assess_id
   	 	<if test="id != 0 and val != 0">
   	 		<if test="id == 1">
				and ar.audit_id LIKE '%${val}%'
		    </if>
		    <if test="id == 2">
				and ar.user_id LIKE '%${val}%'
		    </if>
		    <if test="id == 3">
				and oa.user_id LIKE '%${val}%'
		    </if>
	    </if>
    </where>
    order by audit_id desc
    limit #{page},#{pageSize}
  </select>
  
  <!-- 查询总条数 -->
  <select id="getCount" resultType="java.lang.Integer">
  	select count(1) from assess_report as ar,order_assess as oa
	<where>
	ar.assess_id=oa.assess_id
   	 	<if test="id != 0 and val != 0">
   	 		<if test="id == 1">
				and ar.audit_id LIKE '%${val}%'
		    </if>
		    <if test="id == 2">
				and ar.user_id LIKE '%${val}%'
		    </if>
		    <if test="id == 3">
				and oa.user_id LIKE '%${val}%'
		    </if>
	    </if>
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Apr 19 10:27:54 CST 2018.
    -->
    delete from assess_report
    where audit_id = #{auditId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.icei.domain.AssessReport">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Apr 19 10:27:54 CST 2018.
    -->
    insert into assess_report (audit_id, assess_id, user_id, 
      report_content)
    values (default, #{assessId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{reportContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.icei.domain.AssessReport">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Apr 19 10:27:54 CST 2018.
    -->
    insert into assess_report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="auditId != null">
        audit_id,
      </if>
      <if test="assessId != null">
        assess_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="reportContent != null">
        report_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="auditId != null">
        #{auditId,jdbcType=INTEGER},
      </if>
      <if test="assessId != null">
        #{assessId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="reportContent != null">
        #{reportContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icei.domain.AssessReport">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Apr 19 10:27:54 CST 2018.
    -->
    update assess_report
    <set>
      <if test="assessId != null">
        assess_id = #{assessId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="reportContent != null">
        report_content = #{reportContent,jdbcType=VARCHAR},
      </if>
    </set>
    where audit_id = #{auditId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icei.domain.AssessReport">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Apr 19 10:27:54 CST 2018.
    -->
    update assess_report
    set assess_id = #{assessId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      report_content = #{reportContent,jdbcType=VARCHAR}
    where audit_id = #{auditId,jdbcType=INTEGER}
  </update>
</mapper>