<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icei.mapper.UserAddressMapper">
  <resultMap id="BaseResultMap" type="com.icei.domain.UserAddress">
    <id column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="street" jdbcType="VARCHAR" property="street" />
    <result column="postcode" jdbcType="VARCHAR" property="postcode" />
    <result column="tally" jdbcType="VARCHAR" property="tally" />
  </resultMap>
  <sql id="Base_Column_List">
    address_id, user_id, name, phone, region, street, postcode, tally
  </sql>
   <!-- 根据地址ID获取地址信息 -->
  <select id="ByOrderIdGetAddress" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_address
    where address_id = #{addressId,jdbcType=INTEGER}
  </select>
  <!-- 获取用户所有地址 -->
  <select id="getUserAddress" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_address
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Apr 19 10:27:54 CST 2018.
    -->
    select 
    <include refid="Base_Column_List" />
    from user_address
    where address_id = #{addressId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Apr 19 10:27:54 CST 2018.
    -->
    delete from user_address
    where address_id = #{addressId,jdbcType=INTEGER}
  </delete>
  <!--删除用户地址-->
  <delete id="delUserAdress" parameterType="java.lang.Integer">
    delete from user_address
    where address_id = #{addressId,jdbcType=INTEGER}
    and user_id=#{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.icei.domain.UserAddress">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Apr 19 10:27:54 CST 2018.
    -->
    insert into user_address (address_id, user_id, name, 
      phone, region, street, 
      postcode, tally)
    values (#{addressId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR}, 
      #{postcode,jdbcType=VARCHAR}, #{tally,jdbcType=VARCHAR})
  </insert>
  <!--返回主键id-->
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="addressId" keyColumn="address_id" parameterType="com.icei.domain.UserAddress">
    insert into user_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="addressId != null">
        address_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="street != null">
        street,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
      <if test="tally != null">
        tally,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="addressId != null">
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="street != null">
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="tally != null">
        #{tally,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icei.domain.UserAddress">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Apr 19 10:27:54 CST 2018.
    -->
    update user_address
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="street != null">
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="tally != null">
        tally = #{tally,jdbcType=VARCHAR},
      </if>
    </set>
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icei.domain.UserAddress">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Apr 19 10:27:54 CST 2018.
    -->
    update user_address
    set user_id = #{userId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR},
      tally = #{tally,jdbcType=VARCHAR}
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>
</mapper>