<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商家账户</title>
		<link href="../../layuiadmin/layui/css/layui.css" rel="stylesheet" media="all" />
		<link href="../../layuiadmin/style/table.css" rel="stylesheet" media="all" />
	</head>

	<body>
		<div class="layui-fluid">
			<div class="layui-row layui-col-space15">
				<div class="layui-card">
					<div class="layui-card-header">
						商家账户
					</div>
					<div class="layui-card-body">
						<div class="layui-form-item" style="border-bottom: 1px solid #f6f6f6;">
							<label class="layui-form-label">请选择</label>
							<div class="layui-input-block">
								<div class="layui-inline">
									<input type="text" name="keyword" style="width: 240px;display: inline;" required lay-verify="required" placeholder="请输入关键字" autocomplete="off" class="layui-input" />
								</div>
								<div class="layui-inline">
									<form class="layui-form" style="width: 200px;display: inline;">
										<select name="type">
											<option value="">请选择</option>
											<option value="ID">用户ID查询</option>
											<option value="NAME">用户名模糊查询</option>
										</select>
									</form>
								</div>
								<div class="layui-inline">
									<a id="search" class="layui-btn">搜索</a>
								</div>
							</div>
						</div>
						<table id="table"></table>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../../layuiadmin/layui/layui.js"></script>
	<script src="../../layuiadmin/jquery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			layui.use('form', function() {
				var form = layui.form;
			});
			layui.use('table', function() {
				var table = layui.table;
				table.render({
					elem: '#table',
					url: "../../layuiadmin/json/userlist.json",
					cellMinWidth: 80,
					cols: [
						[{
								type: 'checkbox'
							},
							{
								field: "id",
								title: "编号",
								sort: true
							}, {
								title: "用户头像",
								templet: '#imgTemplet'
							}, {
								field: "userName",
								title: "用户姓名",
							}, {
								field: "userCode",
								title: "用户昵称"
							}, {
								field: "gender",
								title: "性别",
								templet: "<div>{{d.gender==0?'男':'女'}}</div>"
							}, {
								field: "integral",
								title: "积分"
							}, {
								field: "creationDate",
								title: "注册时间"
							}, {
								title: "账号状态",
								templet: "#statusTemplet"
							}
						]
					],
					page: true
				});
			});
		});
	</script>
	<script id="statusTemplet" type="text/html">
		<input type='checkbox' name='status' lay-skin='switch' lay-text='正常|封禁' lay-filter='status' {{d.userStatus==0 ? 'checked': ''}}/>
	</script>
	<script id="imgTemplet" type="text/html">
		<img src="../../layuiadmin/image/head/{{d.imgPath}}" width="60px" height="60px" />
	</script>

</html>